body  {
    background: #777;
    color: #777;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    width: 960px;


}

header {
    background: #ebebeb;
    width: 495px;
    text-align: center;
}

nav {
    background: #ebebeb;
    width: 495px;
}

section {
    background: #ebebeb;
    width: 495px;
}

aside {
    background: #ebebeb;
    width: 495px;
}

footer {
    background: #ebebeb;
    width: 495px;
}

article {
    color: #ebebeb;
    background: #777;
    width: 495px;
    text-align: center;
}

h1 {
    color: #777;
    background: #ebebeb;
}

h2 {
    color: #777;
    background: #ebebeb;
}

h3 {
    color: #777;
    background: #ebebeb;
}

p {
    color: #777;
    background: #ebebeb;
}