body  {
    background: #777;
    color: #777;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    width: 960px;
    margin: 12%;
}

header {
    background: #ebebeb;
    text-align: center;
}

nav {
    background: #ebebeb;
    text-align: center;
}

section {
    background: #ebebeb;
    width: 495px;
    text-align: center;
    border: 1px solid black;
    margin-top: 30px;
}


article {
    color: #ebebeb;
    background: #777;
    width: 455px;
    text-align: center;
    border: 1px solid black;
    padding-left:0px;
    padding-right:0px;
    margin-left: 18px;
    margin-right: 0px;
    margin-bottom: 10px;
}


aside {
    background: #ebebeb;
    text-align: center;
    float: right;
    margin-top: 115px;
    border: 1px solid black;
}

h1 {
    color: #777;
    background: #ebebeb;
    text-align: center;
}

h2 {
    color: #777;
    background: #ebebeb;
}

h3 {
    color: #777;
    background: #ebebeb;
}

p {
    color: #777;
    background: #ebebeb;
}

footer {
    background: #ebebeb;
    text-align: center;
}


#headers {
    width: 400px;
    margin-left: 24px;
    margin-right: 24px;
    padding-left: 0px;
    padding-right: 0px;
}

#p {
    width: 400px;
    margin-left: 24px;
    margin-right: 24px;
    padding-left: 0px;
    padding-right: 0px;
}